<template>
  <q-page>
    <div class="q-ma-xl">
      <div class="row justify-center">
        <q-input
          standout
          rounded
          bg-color="white"
          :input-style="{ color: '#000' }"
        >
          <template v-slot:append>
            <q-icon name="search" color="grey-10"></q-icon>
          </template>
        </q-input>
      </div>
      <div class="row q-gutter-lg q-my-md">
        <div v-for="(category, index) in categories" :key="index">
          <q-btn
            unelevated
            rounded
            no-caps
            color="white"
            text-color="grey-10"
            :label="category.label"
            :icon="category.icon"
          ></q-btn>
        </div>
      </div>
      <div class="row q-gutter-xl">
        <div v-for="(place, index) in places" :key="index">
          <q-card
            flat
            class="background-color"
            style="max-width: 300px"
            clickable
            @click="gotoPlace(place.id)"
          >
            <q-img
              :src="place.image"
              style="height: 300px; width: 300px; border-radius: 20px"
              class="rounded-borders"
            ></q-img>
            <div class="text-h6 q-my-sm">{{ place.title }}</div>
            {{ place.description }}
          </q-card>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import { defineComponent } from "vue";
import placeService from "../services/PlaceService";

export default defineComponent({
  name: "IndexPage",
  created: function () {
    this.categories = placeService.getCategories();
    this.places = placeService.getPlaces();
  },
  methods: {
    gotoPlace(id) {
      this.$router.push({ path: `/places/${id}` });
    },
  },
});
</script>
