<template>
  <q-page>
    <div>
      {{ place.id }}
    </div>
  </q-page>
</template>

<script>
import { defineComponent } from "vue";
import placeService from "../services/PlaceService";

export default defineComponent({
  name: "IndexPage",
  created: function () {
    let id = Number(this.$route.params.id);
    this.place = placeService.getPlace(id);
  },
});
</script>
